<div class="col-xs-12 col-md-12">
    <h4>Examples will show from above</h4>
    <button class="btn btn-warning" (click)="showWarning()">Warning</button>
    <button class="btn btn-info" (click)="showInfo()">Info</button>
    <button class="btn btn-success" (click)="showSuccess()">Success</button>
    <button class="btn btn-danger" (click)="showError()">Error</button>
</div>
<div class="col-xs-12 col-md-12">
    <h4>Http Service</h4>
    <button class="btn btn-primary" (click)="showWarning()">Http Get</button>

</div>
<div class="col-xs-12 col-md-12">
    <h4>Beam Service
        <small>(broadcast)</small>
    </h4>
    <input class="input" [(ngModel)]="username" />
    <button class="btn btn-primary" (click)="emitBeam()">Show Beam</button>

</div>

<div class="col-xs-12 col-md-12">
    <h4>Loader Service
        <small>(anywhere)</small>
    </h4>
    <button class="btn btn-primary" (click)="showLoader()">Show Loader</button>

</div>