<div class="col-xs-12 col-md-12">
    <h4>Examples will show from above</h4>
    <button class="btn btn-primary" (click)="showWarning()">Warning</button>
    <button class="btn btn-info ml-2" (click)="showInfo()">Info</button>
    <button class="btn btn-success ml-2" (click)="showSuccess()">Success</button>
    <button class="btn ml-2" (click)="showError()">Error</button>
</div>
<div class="col-xs-12 col-md-12">
    <h4>Http Service</h4>
    <button mat-flat-button color="warn" (click)="showWarning()">Http Get</button>

</div>
<div class="col-xs-12 col-md-12">
    <h4>Beam Service
        <small>(broadcast)</small>
    </h4>
    <h4>New Beam value : {{username}}</h4>
    <input class="input" [(ngModel)]="username" />
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button class="btn btn-primary" (click)="emitBeam()">Show Beam</button>

</div>

<div class="col-xs-12 col-md-12">
    <h4>Loader Service
        <small>(anywhere)</small>
    </h4>
    <button class="btn btn-primary" (click)="showLoader()">Show Loader</button>

</div>