 

.notify-overlay {
  position: fixed; /* Sit on top of the page content */
  width: 50%; /* Full width (cover the whole page) */
  height: 12%; /* Full height (cover the whole page) */
  top: 1%; 
  left: 75%;
  right: 0;
  bottom: 0;
  z-index: 99999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
ul {
  list-style-type: none;
}